.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.input-container label{
    font-size: 1.8rem;
    font-weight: 500;

}

.input-container input{
    all: unset;
    border-bottom: 0.2rem solid var(--primary);
    border-radius: 2px;
    font-weight: 500;
    text-align: center;
    padding-block: 0.5rem 1rem;
    width: 100%;
    transition: all .3s ease-in-out;
}

.input-container input:focus{
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    background-color: var(--gray-400);
}