.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: var(--primary);
    font-size: 2.4rem;
    transition: all .3s;
}

.logo-container:hover{
    cursor: pointer;
    filter: brightness(70%);
}

.logo-container svg{
    width: 6rem;
    height: 6rem;
}