.container{
    max-width: 120rem;
    margin: 0 auto;
}

.content{
    display: flex ; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    gap: 4rem;
}
