.cycle{
    margin-top: 2.4rem;
    text-align: center;
}

.cycle span{
    margin-top: 2.4rem;
}

.cycle-list {
    margin-top: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

