.menu-container{
    display: flex;
    gap: 2rem;
}

.menu-Link{
    background-color: var(--primary);
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: all 0.2s ease-in-out;

}

.menu-Link:hover{
    transform: scale(1.1);
}

.menu-Link svg{
    color: var(--text-over-primary);
}