.icones-container{
    display: flex;
    gap: 2rem;
}

.icones-container div{
    background-color: var(--primary);
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: all 0.2s ease-in-out;

}

.icones-container div:hover{
    transform: scale(1.1);
}

.icones-container svg{
    color: var(--text-over-primary);
}